.aside-paginas{
    color:white;
    /* outline: 1px solid white; */
    /* border: 2px solid white; */
    padding: 15px;
    margin-left: 2%;
    margin-right:2%;
    transition-duration: .2s;
    /* margin-bottom: 10px; */
/* outline:1px solid chocolate; */
}
.aside-paginas:hover{
    background-color:#003946 ;
}

.aside-paginas a{
    color:white;
    text-decoration: none
    /* outline:none ; */
}