*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
.div{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-size: 16px;
    /* flex-direction: column wrap; */
}

/* .header{
    height: 0rem;
    outline: 1px solid aqua; */
    /* background-color: aqua; */
/* } */



  
      .header {
        height: 4rem;
        width: 100%;
        background-color: #f2f8f9;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header__img {
      width: 200px;
      margin-top: 10px;
      margin-left: 10px;
    }
    .header__menu {
      margin-right: 100px;
    
    }
    .header__menu ul {
      display: none;
      
      list-style: none;
      padding: 0px;
      position: absolute;
      width: 100px;
      text-align: right;
      margin: 0px 0px 0px -14px;
    }
    .header__menu:hover ul, ul:hover {
      display: block;
    }
    .header__menu li {
      margin: 10px 0px;
    }
    .header__menu li a {
      color: black;
      text-decoration: none;    
    }
    .header__menu li a:hover {
      text-decoration: underline;        
    }
    .header__menu--profile {
      margin-right: 8px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .header__menu--profile img {
      margin-right: 8px;
      width: 40px;
    }
    .header__menu--profile p {
      margin: 0px;
      color:#00242c ;
    }
  

.cambiarcantidad{
  background-color: #117a8b;
  color: white;
  border: none;
  width: 100%;
}








.main{
    /* background-color: aquamarine; */
    display: flex;
     height: inherit;
}


.aside{
    /* outline:1px solid chocolate; */
    
    background-color: #00242c;
    flex: 0 0 5%;
    transition-duration: 1s; 

}
.aside:hover{
    text-align: left  ;
    flex: 0 0 20%;
}
.aside-navbar{
    height: 4rem;
    width: 100%;
    background-color: #003946;
    margin-bottom:70px;
}
.content{
    /* background-color: crimson    ; */
    flex: 1;
}
.navbar{
    height: 4rem;
    width: 100%;
    background-color: #f2f8f9;
}
.footer{
    height: 2rem;
    text-align: center;
    /* background-color:cadetblue; */
    margin-top: auto;
    color: white;
    background-color: #00242c;
    
}



